<span class="scotland-logo-marquee__view-all-text">{{ label | escape }}</span>
<span class="scotland-logo-marquee__view-all-icon" aria-hidden="true">
  {{- 'icon-arrow.svg' | inline_asset_content -}}
</span>
